<h3>Edit Article</h3>
<%= flash[:notice] %>
<% if @article.errors.any? %>
  <div id="errorExplanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%=form_for(@article, :url => article_path, :html => {:method => :put}) do |f|%>
  <%=f.label :title%>
  <%=f.text_field :title%>
  <p/>
  <%=f.label :content%>
  <p/>
  <%=f.text_area :content%>
  <p/>
  <%= f.label :pages_count %> :
  <%=f.text_field :pages_count%>
  <p/>
  <%=f.submit :update, :id => "update_button"%>
  <p/>
  <%=link_to "Back", articles_path, :id => "link_back"%>
<%end%>
