<%= flash[:notice] %>
<h3>List of articles :</h3>
<div id="header">
  <table width="30%" border="">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3">Action</th>
    </tr>
    <%@articles.each do |x|%>
      <tr>
        <td><div class="menu"><%= x.title %></div></td>
        <td><%= x.content %></td>
        <td><%= link_to "Edit", edit_article_path(x.id) %></td>
        <td><%= link_to "Show" , article_path(x) %>  <%#= link_to "Show" , show_article_path(x) %></td>
        <td><%= link_to 'Destroy', article_path(x.id), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <%end%>
  </table>
</div>
<p/>
<%= link_to "New Articles", new_article_path %>
<%= @article    %>
<br />
<%#= link_to "call my_method_1", my_method_1_articles_path %>

<%#= raw(list_articles) %>

<%#= params[:dari_destroy] %>
<%#= params[:dari_update] %>
<p><%#= session['session_name']%></p>

