<h3>New Article</h3>
<%= flash[:notice] %>
<%= flash[:error] %>
<% if @article.errors.any? %>
  <div id="errorExplanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%#= @article.errors.full_messages if @article.errors %>

<%=form_for @article do |f| %>
  <%= f.label :title %> :
  <%= f.text_field :title %>
  <p/>
  <%=f.label :content%> :
  <p/>
  <%=f.text_area :content, :rows => 5%>
  <p/>
  <%= f.label :pages_count %> :
  <%=f.text_field :pages_count%>
  <p/>
  <%= hidden_field :article, :user_id, :value => current_user.id %>

  <%=f.submit :create%>
  <p/>
  <%=link_to "Back", articles_path%>
  <p />
  <%#= f.hidden_field :user_id %>
  <%#= text_field_tag :my_name  %>
<%end%>


<%= link_to "Back to Index",show_article_list_path %>
<%#= "FORM TAG" %>

<%#= form_tag articles_path do -%>
  <%#= text_field_tag "article", "firstname" %>
<%# end -%>
