<h3>Detail Article</h3>
<p />
Title  :  <%=@article.title%>
<p />
Content  :
<%=@article.content%>
<p/>
<hr />
<div>
  <%= form_for @comment, :url => comments_path, :remote => true do |f| %>
    <%= f.text_area :content , :rows => 5%>
    <%= f.hidden_field :article_id, :value => @article.id %>
    <br />
    <%= submit_tag "comment" %>
  <% end %>
</div>
<h2>List of Comment</h2>
<div id="comments">  
  <%unless @comments.nil?%>
    <%= render :partial => "comments", :locals => {:comments => @comments}  %>
  <%end%>
</div>
<br /><br />
<%=link_to "Back", articles_path, :id => 'link_back'%>