<h1>User Index</h1>
<table border="1">
  <tr>
    <th>UserName</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= "#{user.first_name} #{user.last_name}" %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>