/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.products {
  overflow: hidden;
}

.products .list {
  overflow: hidden;
}

.products .list li {
  display: inline;
  width: 20%;
  float: left;
  border: 1px solid #ececec;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
