<!DOCTYPE html>
<html>
  <head>
    <title>ArticleApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body >
    <%= raw(welcome_text) %>
     <br /><hr />
    <%= yield %>
    <!--<h2>My Articles Layout</h2-->
  </body>
</html>
